

html{
  height: 100%;
  width: 100%;
}

#myCanvas {
  border-radius: 30px;
  border: 13px double rgba(204, 128, 228,80);
}

.container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  padding-bottom: 60px;
  border-radius: 30px;
  margin-top: 200px;
}

.pic{
  height: 400px;
  width: 400px;
  object-fit: cover;
  border-radius: 30px;
  border: 13px double rgba(204, 128, 228,80);
}

h2{
  color: black;
}

#start{
  text-align: left;
}

#end{
  text-align: right;
}